<div class="greeting">
    <h1>Hey 👋</h1>
    <h2>My Name is Anush <br> This is my blog page <br> I will have blogs based on topics ranging from <br> education to news to even new trends <br> in the world</h2>
</div>